
body {
    height: 100vh;
}

.navbar-brand {
	padding-left: 10px;
}

.navbar-dark {
    height: 6.6%;
}
.content-container {
    height: 93.4%;
}

#scanbot-camera-container {
	width: 98%;
    height: 99%;
	margin-top: 1%;
	margin-left: 1%;
}

.version-info {
    bottom: 5px;
    right: 5px;
    position: fixed;
    color: gray;
    font-size: 0.8em;
}

#image-modal {
    position: absolute;
    opacity: 1 !important;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

#document-image {
    width: 100%;
    height: auto;
    object-fit: contain;
}

#popup-close-button {
    margin-left: .7rem;
}

@media all and (orientation: landscape) {
    .navbar-dark {
        height: 11%;
    }
    .content-container {
        height: 87%;
    }
}
