
ul {
  padding-inline-start: 0;
}

.list {
  width: 100%;
  height: 45px;
  border-bottom: 1px solid lightgray;
  line-height: 45px;
  list-style-type: none;
  font-weight: 500;
  padding-left: 10px;
}
