<style>
  .list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 15px;
  }
  .list-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    text-decoration: none;
    color: #333;
  }
</style>

<div class="list">
  <a class="list-item" routerLink="document-scanner">Document Scanner</a>
  <a class="list-item" routerLink="barcode-scanner">Barcode Scanner</a>
  <div class="list-item" (click)="getLicenseInfo()">License info</div>
  <a class="list-item" routerLink="image-results">Image Results</a>
</div>
