.root {
    color: white;
}
.root .innerContainer {
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px 25% 20px;
    max-width: 690px;
    justify-content: space-between;
    margin: 0 auto;
}
@media only screen and (min-width: 600px) {
    .root .innerContainer {
        padding: 80px 0 30% 0;
    }
}
@media only screen and (min-width: 960px) {
    .root .innerContainer {
        padding: 80px 0 300px 0;
    }
}
@media only screen and (min-height: 720px) and (max-width: 640px) {
    .root .innerContainer {
        padding: 80px 16px 30% 16px;
    }
}
.root .logo {
    margin-bottom: 24px;
}
@media only screen and (min-width: 600px) {
    .root .logo {
        margin-bottom: 40px;
        width: 250px;
    }
}
.root .illustration {
    width: 90%;
    margin-bottom: 24px;
}
@media only screen and (min-width: 960px) {
    .root .illustration {
        max-width: 550px;
        height: 550px;
        object-fit: contain;
        margin-top: 32px;
        margin-bottom: -80px;
    }
}
@media only screen and (min-height: 550px) and (max-width: 350px) {
    .root .illustration {
        max-height: 225px;
        margin-bottom: 16px;
    }
}
.root .title {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.18px;
    margin-bottom: 14px;
}
@media only screen and (min-width: 600px) {
    .root .title {
        font-size: 38px;
        line-height: 38px;
    }
}
.root .description {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    opacity: 0.7px;
}
.link {
    position: absolute;
    right: 10%;
    text-decoration: none;
    padding-right: 10px;
}
.root .swiperContainer {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}
.root .swiper {
    right: 0;
    top: 0;
    height: 100%;
}
.root .nextButton {
    top: 55%;
    right: 15%;
    position: absolute;
    width: 60%;
}
.listContainer {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    bottom: 4%;
}
.listItem {
    border: 0.5px solid;
    border-radius: 50%;
    background-color: transparent;
    padding: 6px;
    vertical-align: middle;
    cursor: pointer;
}
.list {
    list-style-type: none;
    display: flex;
    padding: 0;
}
