@mixin breakpoint-up ($breakpoint) {
    @if $breakpoint==sm {
        @media only screen and (min-width: 600px) {
            @content;
        }
    }
    @if $breakpoint==md {
        @media only screen and (min-width: 960px) {
            @content;
        }
    }
}

html,
body,
#root,
.carouselContainer,
.slider,
.slider-frame,
.slider-list,
.slider-slide,
.root,
.swiperContainer,
.innerContainer {
    height: 100% !important;
}

.root {
    color: white;

    .innerContainer {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 20px 25% 20px;
        max-width: 690px;
        justify-content: space-between;
        margin: 0 auto;

        @include breakpoint-up(sm) {
            padding: 80px 0 30% 0;
        }

        @include breakpoint-up(md) {
            padding: 80px 0 300px 0;
        }

        @media only screen and (min-height:720px) and (max-width: 640px) {
            padding: 40px 20px 25% 20px;
        }
    }

    .logo {
        margin-bottom: 40px;

        @include breakpoint-up(sm) {
            margin-bottom: 40px;
            width: 250px;
        }
    }

    .illustration {
        width: 90%;
        margin-bottom: 24px;
        object-fit: contain;
        max-height: 300px;

        @include breakpoint-up(md) {
            max-width: 550px;
            max-height: 550px;
            height: 550px;
            object-fit: contain;
            margin-top: 32px;
            margin-bottom: -80px;
        }

        @media only screen and (min-height:550px) and (max-width: 350px) {
            max-height: 225px;
            margin-bottom: 16px;
        }
    }

    .title {
        font-size: 24px;
        line-height: 24px;
        letter-spacing: .18px;
        margin-bottom: 14px;

        @include breakpoint-up(sm) {
            font-size: 38px;
            line-height: 38px;
        }
    }

    .description {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: .25px;
        opacity: .7;
        padding: 0 5px;

        @include breakpoint-up(sm) {
            font-size: 16px;
            line-height: 24px;
        }
    }

    .swiperContainer {
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
    }

    .swiper {
        right: 0;
        top: 0;
        height: 100%;
    }

    .nextButton {
        top: 55%;
        right: 15%;
        position: absolute;
        width: 60%;
    }
}

.listContainer {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    bottom: 4%;

    .list {
        list-style-type: none;
        display: flex;
        padding: 0;

        .listItem {
            border: 0.5px solid;
            border-radius: 50%;
            background-color: transparent;
            padding: 6px;
            vertical-align: middle;
            cursor: pointer;
        }
    }

    .link {
        position: absolute;
        right: 10%;
        text-decoration: none;
        padding-right: 10px;
    }
}